
<div id="print-section">
  <button class="btn btn-primary  justfy-contet-center" type="button" (click)="exportToPDF()">Convert PDF & Download</button>
    <!-- template here -->

    <!--  -->
			<div class="card">
				<h5>Resume</h5>
				<hr width="100%">
				
			 
				<div class="container">
				 <div class="row">
						 <div class="col-6 details">
							 <h1>AKITHA KANKEKAR</h1><br>
							 <h6>Adress: Madhapur</h6>
							 <h6>Hi-tech City,Hydrabad</h6>
							 <h6>Hyd dist,telangana,India,500034</h6>
							 
							 <h6 class="email">
								<i  class="fa-solid fa-envelope"> </i> <h6>Email: ankitha@calibrage.com</h6>
							 
							 </h6>
							
							 <h6>
								<i class="fa-solid fa-phone"></i>
								<h6>965456874</h6>
							
							 </h6>
						 </div>
						 <div class="col-6">
								<img class="img" src="assets/profile.jpg " width="150px" height="200px" alt="">
						 </div>
				 </div>
			 </div>
			 
				<hr class="line" width="100%">
				<h4 class="colorline">CARRIAR OBJECTIVE </h4>
				<hr class="line2" width="100%">
				<p class="text">     To secure challenging posion in reputable Organization  to Expand my Learning ,Knowledge and skills</p>
				<br>
				<h4 class="colorline">AREA OF INTERESTS </h4>
				<p>madhapur</p>
				<hr class="line" width="100%">
				<h4 class="colorline">EDUCATION </h4>
				<hr class="line" width="100%">
				<h4 class="colorline">CARRIAR OBJECTIVE </h4>
				
				<p class="text" >     To secure challenging posion in reputable Organization  to Expand my Learning ,Knowledge and skills</p>
			 
				<h4 class="colorline">EDUCATION </h4>
				<ul>
				 <li>Class 12 </li>
				 <li>PUC </li>
				 <li>INTERMEDIATE </li>
				</ul>
				<br>
			 
			 
			 <div class="container">
				 <div class="row">
					 <div class="col">
						 <p>qispiders,india 500021</p>
						 <p>CBSE (CBSE. International) </p>
						 <p>Hyderabad </p>
						 <p>qispiders,india 500021</p>
					 </div>
					 <div class="col">
						 <p>qispiders,india 500021</p>
						 <p>CBSE (CBSE. International) </p>
						 <p>Hyderabad </p>
						 <p>qispiders,india 500021</p>
					 </div>
					 
				 
				 </div><br>
				 
				 
			 
			 </div>
			<!--  -->
			
  
    

     <!-- template here -->
</div>
<br>
<br><br>
<br><br>

<div id="print-section">

    <div class="card ">
        <p>Fresher Profiles Demo university</p>
        <p>university, Karnataka,IND</p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere577010 </p>
        <p>Fresher Profiles Demo university</p>
        <p>Karnataka,IND</p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>Fresher Profiles Demo</p>
       
        <p>university, Karnataka,IND
        </p>
        <p>FP Reference College of Engineering</p>
        <p>Engineering, Davangere 577010</p>
      
        
        <p>Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
      </p>
        <p>FP Reference College of </p>
        <p>Engineering, Davangere</p>
        <p>577010 Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
        </p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
        </p>
       
        
        
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
      
        <p>FP Reference College of</p>
       
   
      </div>
</div>
<br>
<br><br>
<br><br>


<div id="print-section">

    <div class="card ">
        <br>
        <p>Fresher Profiles Demo university</p>
        <p>university, Karnataka,IND</p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere577010 </p>
        <p>Fresher Profiles Demo university</p>
        <p>Karnataka,IND</p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>Fresher Profiles Demo</p>
       
        <p>university, Karnataka,IND
        </p>
        <p>FP Reference College of Engineering</p>
        <p>Engineering, Davangere 577010</p>
      
        
        <p>Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
      </p>
        <p>FP Reference College of </p>
        <p>Engineering, Davangere</p>
        <p>577010 Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
        </p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
        </p>
       
        
        
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
        <p>Fresher Profiles Demo</p>
        <p>university, Karnataka,IND
        </p>
        <p>FP Reference College of</p>
        <p>Engineering, Davangere 577010</p>
       
       
      </div>

</div>



